<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>741296601696-meif4u6mf30ud2qvvpq4sm4tgp8jhdcf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.741296601696-meif4u6mf30ud2qvvpq4sm4tgp8jhdcf</string>
	<key>API_KEY</key>
	<string>AIzaSyDjZam0Dt8rwAh3BJWglN43BJgptyWNbJM</string>
	<key>GCM_SENDER_ID</key>
	<string>741296601696</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.parse.ParseStarterProject-Swift</string>
	<key>PROJECT_ID</key>
	<string>campus-coach-uber</string>
	<key>STORAGE_BUCKET</key>
	<string>campus-coach-uber.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:741296601696:ios:8f70a48d273fcba2</string>
	<key>DATABASE_URL</key>
	<string>https://campus-coach-uber.firebaseio.com</string>
</dict>
</plist>